# Conditional Statement

In [1]:
if(3 > 5):
    print('3 is greater than 5')

# 3 is not greater than 5, but there is no else condition.so the output printed is wrong

In [6]:
# simple if else condition
    
if ( 3 > 5) :
    print('3 is greater than 5')
else: 
    print('not greater')

not greater

In [7]:
#  If loop with  Boolean and Comparision

## STRING COMPARISION
## its case sensitive
nm = "annworks"

if ( nm == "annworks"):
    print("TRUE")
else:
    print("FALSE")

TRUE

In [8]:
## if loop with Number comarision and output is boolean

if ( 5 < 6):   ## <=, >=, ==. !=, <, >
    print("TRUE")
else:
    print("FALSE")

TRUE

In [9]:
################# if loop number comparision
  
a = 3; b=3;
if (a == b):  ## intend is very important
    print("A & B are Equal")
else:
    print("A & B are not Equal")

A & B are Equal

In [10]:
## check if the given number is even or odd
i = 10
if (i % 2 == 0):
    print(" Number is Even number")
else:
    print("Number is Odd number")

 Number is Even number

In [1]:
#### if else statement 
## compare 3 varaibles
## find which is the greatest number
    
a = 15; b = 201; c = 60
if  (a > b) & (a>c) :
    print("A is the greatest!!!")
elif  (b > a) & (b > c) :
    print("B is the greatest!!")
else:
    print("C is the greatest")

B is the greatest!!

In [12]:
"""Customer segmentation
If cust_credit >25000 then Diamond ustomer
>15k and < 25k, golden
>5k and < 15k silver else bronze
"""

cust_credit = 17000
if(cust_credit >= 25000):
    print("Diamond Customer")
elif(cust_credit >= 15000 and cust_credit < 25000):
    print("Golden Customer")
elif(cust_credit >=5000 and cust_credit < 15000):
    print("Silver Customer")
else:
        print("Brozen Customer")

Golden Customer

# For Loop

In [2]:
## simple for loop
a = [1,2,3,4,5]
print(a)
#i = 1
for j in a:
    print(j)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [5]:
 # print value 1 to 9  
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [8]:
# print only even values
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [16]:
# print only odd values
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
# print numbers with regular interval of 5
for i in range(0,51,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [18]:
# Nested for loop
for i in range(0,3):
    for j in range(0,3):
        print(i+j)

0
1
2
1
2
3
2
3
4

In [23]:
## for loop in list that returns the title
names = ['aw','annworks','aws','annworks private limited','annwork ltd']
print(type(names))
for name in names:
    print(name) 
    #print(name.title()) # first letter comes as caps

<class 'list'>
aw
annworks
aws
annworks private limited
annwork ltd

In [33]:
## for loop in list that returns the title
names = ['aw','annworks','aws','annworks private limited','annwork ltd']
print(type(names))
#for name in names[names.index("aws"):]:
for name in names[2:4]:
    print(name) 
    #print(name.title()) # first letter comes as caps

<class 'list'>
aws
annworks private limited

In [19]:
## for loop in list that returns the title
names = ['aw','annworks','aws','annworks private limited','annwork ltd']
print(type(names))
for name in names[names.index("aws"):]:
#for name in names[2:4]:
    print(name)

<class 'list'>
aws
annworks private limited
annwork ltd

In [20]:
## sum the given list
# range is seq from from 0 to 4
ran = range(5)
print(type(ran))
## simple for loop to print seq of element
for i in ran:
    print("value of i: {}".format(i))
    print("value of i1: {}".format(i+1))

<class 'range'>
value of i: 0
value of i1: 1
value of i: 1
value of i1: 2
value of i: 2
value of i1: 3
value of i: 3
value of i1: 4
value of i: 4
value of i1: 5

In [21]:
## for loop - dictonary

Beatles_Discography = {"Please Please Me": 1963, "With the Beatles": 1963, 
    "A Hard Day's Night": 1964, "Beatles for Sale": 1964, "Twist and Shout": 1964,
    "Help": 1965, "Rubber Soul": 1965, "Revolver": 1966,
    "Sgt. Pepper's Lonely Hearts Club Band": 1967,
    "Magical Mystery Tour": 1967, "The Beatles": 1968,
    "Yellow Submarine": 1969 ,'Abbey Road': 1969,
    "Let It Be": 1970}

In [22]:
Beatles_Discography[ "With the Beatles"]

1963

In [23]:
Beatles_Discography[title]

NameError: name 'title' is not defined

In [24]:
title

NameError: name 'title' is not defined

In [25]:
for title in Beatles_Discography:
    print("title: {}, year: {}".format(title, Beatles_Discography[title]))

title: Please Please Me, year: 1963
title: With the Beatles, year: 1963
title: A Hard Day's Night, year: 1964
title: Beatles for Sale, year: 1964
title: Twist and Shout, year: 1964
title: Help, year: 1965
title: Rubber Soul, year: 1965
title: Revolver, year: 1966
title: Sgt. Pepper's Lonely Hearts Club Band, year: 1967
title: Magical Mystery Tour, year: 1967
title: The Beatles, year: 1968
title: Yellow Submarine, year: 1969
title: Abbey Road, year: 1969
title: Let It Be, year: 1970

# While Loop

In [26]:
## Simple While Loop
## while loop gets executed untill the condition is satisfied

k = 0
while  k < 5 :
    print(k)
    k = k+1

0
1
2
3
4

In [34]:
# while loop with break
# first check is c is less than 5
# if the value of c reached 3, loop should break    
c = 0
while c < 5:
    print(c)
    if c ==3:
        break
    c = c + 1

0
1
2
3

In [ ]:
# while loop with continue statement
# first check, if the value of c is less than 5
# second check if c == 3     
c = 0
    
while c < 5:
    if c == 3:
        continue
    print(c)
    c = c+1

In [3]:
c = -1 
while c < 5:
     c = c + 1
     if c == 3:
        continue
     print(c)

0
1
2
4
5

In [5]:
c = 0 
while c < 5:
     #c = c + 1
     if c == 3:
        c = c + 1
        continue
        
     print(c)
     c = c + 1

0
1
2
4

In [6]:
c = 0 
while c < 5:
     #c = c + 1
     if c != 3:
        print(c)
     
     c = c + 1

0
1
2
4

In [1]:
c = 0 
while c < 5:
     c = c + 1
     if c == 3:
        pass
     print(c)

1
2
3
4
5

# Try catch - error handling

In [11]:
## except part will executed as n is not defined

## example 1
try:
    if n > 5 :
        print(nm)
except:
    print('plz check the code')

plz check the code

In [29]:
## example 2   
    
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [32]:
## example 3 
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [18]:
## example 4 
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [14]:
## example 5
## try and finally
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

# Inbuilt functions

In [35]:
nm = "annworks"
len(nm)

print(nm.islower()) ## this will return if the values are lower case or not

print(nm.title()) ## displayes the title of the varaible

"annwork, great place to learn python,annworks good training,annworks totally awesome.".count('annworks')

True
Annworks

2

In [37]:
nm = " annworks "
print(str.lower(nm)) ## convert the string to lower
print(str.upper(nm)) ## convert the case into upper
print(str.lstrip(nm))## remove the whitespace before the word
print(str.rstrip(nm))## remove the whitespace after the word
print(str.strip(nm))## remove the whitespace both  the sides of the word

 annworks
 ANNWORKS
annworks
 annworks
annworks

In [39]:
nm = " ann works "
import re
## this method removes the space from the first,last and middle
print(re.sub('[\s+]', '', nm))

annworks

In [10]:
#absoslute
print(abs(-123)) # removes the negative sign

print(abs(12))

123
12

In [42]:
# check for boolean
print(bool(0)) # output is false
print(bool(1)) # other than zero is true
print(bool(10))

False
True
True

In [43]:
dir() 
# dir() tries to return a valid list of attributes of the object it is called upon. 
#For Class Objects, it returns a list of names of all the valid attributes and base attributes as well.
#For Modules/Library objects, it tries to return a list of names of all the attributes, contained in that module.
#If no parameters are passed it returns a list of names in the current local scope.

['Beatles_Discography',
 'In',
 'Out',
 '_',
 '_22',
 '_35',
 '_36',
 '_40',
 '_41',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'cust_credit',
 'exit',
 'get_ipython',
 'i',
 'j',
 'k',
 'name',
 'names',
 'nm',
 'quit',
 'ran',
 're',
 'title']