# Logical Operation

In [9]:
a, b, c = 1,2,3

AND operation


both the statements below are same
AND operation both the conditions should be satisfied

In [10]:
c > a and c > b
(c > a) & (c > b)

True

both the statements below are same
OR operation either one condition can be satisfied

In [12]:
c < a or c > b
(c < a) | (c > b)

True

In [13]:
i = 10
i % 2 == 0

True

In [14]:
i = 11
i % 2 == 0

False

In [15]:
# not operator
not( i < 20)

False

In [16]:
##comparision operator
## all the logical operations output will be boolean - true or false
a == b 
a != b 
a > c
b < a
a >= c
b <= a

False

# string

In [2]:
##string place holder

nm = "annworks"
nm

nm + " " +"is 1 years old company"

'annworks is 1 years old company'

In [3]:
age = 1
#nm + " is " + age + " old"  # this will throw an error, string and int cannot be added
nm + " is " + str(age) + " old"  # convert age as string and concatenate

'annworks is 1 old'

In [4]:
nm = "Eddy"
greet = ("%s you are welcome!!")
greet
greet%(nm)

'Eddy you are welcome!!'

In [21]:
greet1 = ( "you are welcome!! %s")
greet1
greet1%(nm)

'you are welcome!! Eddy'

In [22]:
greet2 = ( "you are %s and you are welcome!! ")
greet2
greet2%(nm)

'you are Eddy and you are welcome!! '

In [10]:
cmp = "%s %s is great company to work with"
cmp%('ann','works')

'ann works is great company to work with'

In [8]:
cmp = "%s is %d a old company"
cmp%("annworks",1.0)

'annworks is 1 a old company'

In [25]:
cmp%("annworks","awesome") # throws an error, 2nd variable should be number  and not string

TypeError: %d format: a number is required, not str

# Tuples - denoted by ()

In [26]:
name = ("ann","work")
print(type(name))
    
print("last name : {}".format(name[1]))
print("first name : {}".format(name[0]))

<class 'tuple'>
last name : work
first name : ann

In [11]:
age = (40,35,8,5)
sorted(age)
sorted(age , reverse = True)
age[1]

35

In [28]:
# tuples cannot be updated
name[0] = "Ann"

TypeError: 'tuple' object does not support item assignment

In [29]:
## tuple data slicing
print(age[1])
print(age[0:])
print(age[:len(age)])
print(age[:-1])
print(age[-0:-1])

35
(40, 35, 8, 5)
(40, 35, 8, 5)
(40, 35, 8)
(40, 35, 8)

In [30]:
## add ultiple tuples together
ad_tup = age + name
ad_tup

(40, 35, 8, 5, 'ann', 'work')

In [31]:
del age[1] # tuple cannot delete an object in it
del age # tuple can be deleted completly
age # its not available after deleting

TypeError: 'tuple' object doesn't support item deletion

In [32]:
len(name)
## repeation is possible    
name * 5

('ann', 'work', 'ann', 'work', 'ann', 'work', 'ann', 'work', 'ann', 'work')

# set - denoted by {}

In [20]:
## set uses {}
## add new objects to set

ss = {"apple", "banana", "apple", "grapes", "grapes", "cherry"}
print(ss )# it removed duplicates

ss.add("mango")
print(ss)

ss.remove("mango")
print(ss)

{'grapes', 'apple', 'banana', 'cherry'}
{'cherry', 'grapes', 'apple', 'banana', 'mango'}
{'cherry', 'grapes', 'apple', 'banana'}

# List - denoted by [ ]

In [22]:
fruits = ["apple","bananna","orange","grapes"]
print(fruits)
print(type(fruits))
print(type(tuple(fruits)))

['apple', 'bananna', 'orange', 'grapes']
<class 'list'>
<class 'tuple'>

In [23]:
## index starts from zero
print(fruits[1]) # gets the second object from the list
print(fruits[0:])
print(fruits[0:-2]) # remove the last 3 objects from the list

bananna
['apple', 'bananna', 'orange', 'grapes']
['apple', 'bananna']

In [38]:
## add new objects to the list
fruits.append("berry")
fruits

['apple', 'bananna', 'orange', 'grapes', 'berry']

In [39]:
# replace berry with cherry
fruits[4] = "cherry"
fruits

['apple', 'bananna', 'orange', 'grapes', 'cherry']

In [40]:
# finds the length of the list
len(fruits)

5

In [41]:
## delete an object form the list
del fruits[3] # 4th objects grapes is removed form the list
fruits

['apple', 'bananna', 'orange', 'cherry']

In [42]:
## new list
snack = ["chocolate","jam","nuts","apple"]
snack

['chocolate', 'jam', 'nuts', 'apple']

In [43]:
## check if both the length are equal
len(fruits) == len(snack)

True

In [44]:
## get the complete list of objects from both the list
new = fruits + snack
new

['apple', 'bananna', 'orange', 'cherry', 'chocolate', 'jam', 'nuts', 'apple']

In [45]:
## set will help to remove the duplicates
set(new)

{'apple', 'bananna', 'cherry', 'chocolate', 'jam', 'nuts', 'orange'}

In [46]:
# list with mixed variables

emp = [100,"Eddy","annworks",25,24000,"chennai"]
emp

[100, 'Eddy', 'annworks', 25, 24000, 'chennai']

In [47]:
numbers = [3,1,6,2,8,5,6,1]
numbers
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(len(numbers))

8
1
32
8

In [48]:
# Joining list
## add a symbol or newline or table before each elements in the list

fruits = ["apple","bananna","orange","grapes"]

# add a new lines for each object
aw = "\n".join(fruits)
print(aw)
    
# add a tab before each object
aw = "\t".join(fruits)
print(aw)
    
aww = "\n".join(["Hey there ","How are doing ?","Its raining here"])
print(aww)


aww = "\t".join(["Hey there","How are doing ?","Its raining here"])
print(aww)

apple
bananna
orange
cherry
apple	bananna	orange	cherry
Hey there
How are doing ?
Its raining here
Hey there	How are doing ?	Its raining here

# Dictonary - denoted by {}

In [51]:
students = {"Eddy":26,"Maria":23,"Jack":28}
print(students)
type(students)

{'Eddy': 26, 'Maria': 23, 'Jack': 28}

dict

In [52]:
students["Jack"] # pass the name of the student and get the age

28

In [53]:
## update a dictonary
students["Jack"] = 27 # jack age is updated from 28 to 27
students

{'Eddy': 26, 'Maria': 23, 'Jack': 27}

In [54]:
## delete an object in a dic

del students["jack"] ## its case sensitive
del students["Jack"] 
students

KeyError: 'jack'

In [55]:
# length of dict
len(students)

3

In [56]:
## each key should be unique
std  = {"Eddy":26,"Eddy":23,"Eddy":28}
print(std) # holds only the last value when the keys are same
std["Eddy"]

{'Eddy': 28}

28

In [57]:
## dictonary of dictonary
## one level of drill down
elements = {'hydrogen': 1, 'helium': 2, 'carbon': 6}
elements['carbon']

6

In [58]:
## two level of drill down
elements1 = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}
elements1['helium']['symbol']

'He'

In [59]:
# three level of drill down
elements2 = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': {'hydrogen': 1, 'helium': 2, 'carbon': 16}}}
elements2['helium']['symbol']['carbon']

16