In [85]:
# for single line comment
# Example

# """ for multiline comment

"""
welcome to
python programing by scikit.io
This is going to be an interesting session.
This tutorial is free.
This is also engaging
"""

'\nwelcome to\npython programing by scikit.io\nThis is going to be an interesting session.\nThis tutorial is free.\nThis is also engaging\n'

# Variables , Multiple Assignments and Typecasting

# Variables

In [86]:
## assign integer to a variable
age = 25

##assign string to a variable
sentence = "Hi, this is an awesome place to learn python"

In [88]:
age

25

In [89]:
sentence

'Hi, this is an awesome place to learn python'

In [93]:
## print statement, both the below statement are true
d="Hi, welcome to Python coding, and this tutorial is 4 hours long"
print('Hi, welcome to Python coding')

Hi, welcome to Python coding

In [94]:
type(d)

str

In [91]:
## wrong usuage
print('Hi, welcome to Python coding")

SyntaxError: EOL while scanning string literal (<ipython-input-91-009fec0815a9>, line 2)

In [95]:
## find the length if a varaible
print(len(sentence))

# assign float to a variable
height = 4.56

44

In [96]:
## concat 2 string
first_nm = "scikit"
last_nm = "io"

name = first_nm + last_nm
name

'scikitio'

In [97]:
name

'scikitio'

In [98]:
## combine two stirng with space
nm = first_nm +" "+ last_nm  # + symbol is concate and not addition
print(nm)
type(nm)

scikit io

str

In [100]:
## adding a string and int will throw an error
first_nm + age

TypeError: can only concatenate str (not "int") to str

# Multiple assignment

In [101]:
# int
a, b, c = 1,2,3
out = a+b+c
out

6

In [102]:
a

1

In [103]:
b

2

In [104]:
c

3

In [105]:
out

6

In [107]:
## assign same values for multiple variables
a1 = a2 = a3 = 4
a1
a2
a3

4

In [108]:
a1

4

In [109]:
a2

4

In [110]:
a3

4

In [111]:
sum_=a1+a2+a3

In [113]:
sum_

12

In [8]:
#string
fnm, lnm = "scikit", "io"
nm = fnm + lnm
nm

'scikitio'

In [27]:
#float
h, l = 1.23, 4.12
o = h+l
o

5.35

In [115]:
#boolean
state = True
state

state1 = False
state1

False

In [116]:
state

True

In [117]:
state1

False

In [118]:
##Multiple Assignment of datatype
age, nm , height = 26, "scikit.io", 5.14
print("value of age: ", age)
print("name is : ", nm)
print("height is : ", height)

value of age:  26
name is :  scikit.io
height is :  5.14

type function helps to identify the type of variable

In [119]:
print(type(age)) # int
print(type(height)) #float
print(type(sentence)) #string
print(type(state)) # boolean

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Type casting

In [120]:
# integer to float
a = 1
float(a)

1.0

In [121]:
str(a)

'1'

In [124]:
# float to integer
b = 1.8
int(b)

1

In [35]:
# integer to string
a = 12
str(a)

'12'

# Arthimetic Operation

In [38]:
## simple addition
length = 12
width = 2

tot = length + width
print('Addition output is %d' %tot)

Addition output is 14

In [126]:
a=10
b=20
c=1000+209+377
print(c)

1586

In [127]:
## simple subtraction
length = 12
width = 2

tot = length - width
print('subtraction output is :', tot)

subtraction output is : 10

In [128]:
## simple multiplication
length = 4
width = 4

tot = length * width
print('Multiplication output is :', tot)

Multiplication output is : 16

In [129]:
# square
length = 3
width = 3

tot = length ** width
print('Squared output  is :', tot)

Squared output  is : 27

In [130]:
## simple Division using a forward slash
length = 4
width = 4

tot = length / width
print('Division output is :', tot)

Division output is : 1.0

In [131]:
## simple modulo function, give the remainder value
length = 7
width = 4

tot = length % width
print('Modulo output is :', tot)

Modulo output is : 3

In [132]:
## incremental function

a = 10

#a = a + 2

a += 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

12

In [133]:
## decremental  function

a = 10
a -= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

8

In [134]:
a = 10
a *= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

20

In [135]:
a = 10
a /= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

5.0

# String Operations

In [10]:
## add a string, output will be the concated output

fnm = "scikit"
lnm ="io"
nm = fnm + lnm
nm

'scikitio'

In [136]:
## repeats the string, n number of times
nm = "scikit.io"
nm * 5

'scikit.ioscikit.ioscikit.ioscikit.ioscikit.io'

In [137]:
## subtract 2 string
fnm = "scikit"
lnm ="io"
nm = fnm - lnm
nm # this will throw an error, string cannot be subtracted

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [141]:
## Data slicing, uses index and it starts from 0
nm = "scikit.io"
print(nm)
print(nm[4]) # to get the fifth character in the word
print(nm[0:3]) #to get only first three characters
print(nm[0:]) # first to last

scikit.io
i
sci
scikit.io

In [139]:
print(nm[0:len(nm)]) # to get  all the characters
print(nm[:len(nm)]) # picks from first character till end

scikit.io
scikit.io

In [140]:
print(nm[0:-1]) # remove only the last character
print(nm[:-len(nm)]) # diplay no character

scikit.i

example 1 BMI Calculator

In [143]:
# Lets use the height and weight of a person and calculate BMI of a person
weight = 73
height =  1.65
BMI = weight / (height **2)
print('BMI Value is :', BMI)
## float or double variable
type(BMI) # float

BMI Value is : 26.813590449954088

float

example 2 caluclate simple interest

In [145]:
## Simple Interest = Principal * Interest rate * term of loan

## principal is  50000 INR
# interest rat is 7.25 %
# number of year is 8 years

principal = 10000;
interest_rate = (12/100);
num_of_yrs = 2;
simple_interest = principal*interest_rate*num_of_yrs;
print(type(simple_interest))
print(simple_interest )

print("my simple interest is " +str(simple_interest) + " $ for " + str(num_of_yrs) + "years")

<class 'float'>
2400.0
my simple interest is 2400.0 $ for 2years

Example 3, calculate area of circle

In [147]:
# forumula area of circle = pi * r square

pi = 3.14
r = 25
area = pi * (r**2)
print('area of circle is :',area)

area of circle is : 1962.5